/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 2em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

main > .tagline {
	font-size: 1rem;
	margin: 0;
	font-weight: 100;
	letter-spacing: 1px;
}

.break {
	width: 10rem;
	height: 2px;
	background-color: #FAFAFA;
	text-align: center;
	margin: 1.25rem auto 0 auto;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

/* Theme */

main {
	background-color: #485564;
	color: #FAFAFA;
	background-image: url(../assets/eagle.svg);
	background-position: center 40%;
	background-repeat: no-repeat; 
	background-size: 80%;
}

.icons-social a {
	color: #FAFAFA;
	transition: .5s;
}

.icons-social a svg path {
	fill: #FAFAFA;
}

a:hover {
	color: greenyellow;
	text-shadow: black 1px 1px 1px;
}

/* Projects */

.current {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0%);
	background: #3a4653;
	padding: .5rem;
}

.current h2 {
	font-size: .8rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
}

.project {
	cursor: pointer;
	display: inline-block;
}

.project svg {
	margin: .5rem .25rem 0 .25rem;
	width: 2rem;
}

.project path {
	fill: #FAFAFA;
	transition: .5s;
}

.project:hover svg {
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,1));
}

.project:hover path {
	fill: greenyellow;
}

.project-break {
	width: 90%;
	height: 2px;
	background-color: #FAFAFA;
	text-align: center;
	margin: .5rem auto 0 auto;
}

@media (max-height: 559px) {
	.project-break {
		width: 1px;
		display: inline-block;
		margin: 0;
		text-align: left;
		height: 24px;
		margin: 0 5px 0 10px;
	}

	.current {
		background: none;
	}

	.current h2 {
		display: inline-block;
		text-align: left;
	}
}